.content

  = render 'groups/sidebar', groups: @groups


  .chat
    .chat__top
      %p.chat__top--group-name グループ名
      %input.editbutton{:type => "submit", :value => "Edit"}/
      %p.chat__top--member メンバー
    .chat__middle
      .chat__middle__name-date-text
        %string.chat__middle__name-date-text--name 投稿者1
        %string.chat__middle__name-date-text--date 投稿時間
        %p.chat__middle__name-date-text__text 投稿内容
      .chat__middle__name-date-text2
        %string.chat__middle__name-date-text2--name  投稿者2
        %string.chat__middle__name-date-text2--date 投稿時間
        %p.chat__middle__name-date-text2__text 投稿内容2
    .chat__bottom
      .chat__bottom__form-send
        %input.chat__bottom__form-send--form{:placeholder => "type a message", :type => "text"}/
        %i.fa.fa-file-image-o{"aria-hidden" => "true"}
        %input.chat__bottom__form-send--send-button{:type => "submit", :value => "Send"}

