.contents
  .contents_top
    %h2.contents__top--user USER
    .contents__top__font-awesome
      %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
      %a.chat_user_edit
        %i.fa.fa-cog{"aria-hidden" => "true"}
  .contents__bottom
    %ul.contents__bottom__main
      %li.contents__bottom__main__group
        %p.contents__bottom__main__name わせだ
        %p.contents__bottom__main__message なう
      %li.contents__bottom__main__group
        %p.contents__bottom__main__name はら
        %p.contents__bottom__main__message へった
